# global

installCRDs: true

# -- Maybe you need to use full domain name here, if you deploy flux
# in environments that use http proxy.
#
# In such environments they normally add `.cluster.local` and `.local`
# suffixes to `no_proxy` variable in order to prevent cluster-local
# traffic from going through http proxy. Without fully specified
# domain they need to mention `notifications-controller` explicitly in
# `no_proxy` variable after debugging http proxy logs
# eg: http://notification-controller.[NAMESPACE].svc.[CLUSTERDOMAIN]
eventsaddr: http://notification-controller/

cli:
  image: ghcr.io/fluxcd/flux-cli
  tag: v0.24.0
  nodeSelector: {}
  affinity: {}
  tolerations: []

# controllers

helmcontroller:
  create: true
  image: ghcr.io/fluxcd/helm-controller
  tag: v0.14.0
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 64Mi
  annotations:
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"
  labels: {}
  serviceaccount:
    create: true
    annotations: {}
  nodeSelector: {}
  # expects input structure as per specification https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#affinity-v1-core
  # for example:
  #   affinity:
  #     nodeAffinity:
  #      requiredDuringSchedulingIgnoredDuringExecution:
  #        nodeSelectorTerms:
  #        - matchExpressions:
  #          - key: foo.bar.com/role
  #            operator: In
  #            values:
  #            - master
  affinity: {}
  # expects input structure as per specification https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#toleration-v1-core
  # for example:
  #   tolerations:
  #   - key: foo.bar.com/role
  #     operator: Equal
  #     value: master
  #     effect: NoSchedule
  tolerations: []

imageautomationcontroller:
  create: true
  image: ghcr.io/fluxcd/image-automation-controller
  tag: v0.18.0
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 64Mi
  annotations:
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"
  labels: {}
  serviceaccount:
    create: true
    annotations: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []

imagereflectorcontroller:
  create: true
  image: ghcr.io/fluxcd/image-reflector-controller
  tag: v0.14.0
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 64Mi
  annotations:
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"
  labels: {}
  serviceaccount:
    create: true
    annotations: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []

kustomizecontroller:
  create: true
  image: ghcr.io/fluxcd/kustomize-controller
  tag: v0.18.1
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 64Mi
  annotations:
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"
  labels: {}
  serviceaccount:
    create: true
    annotations: {}
  secret:
    # -- Create a secret to use it with extraSecretMounts. Defaults to false.
    create: false
    name: ""
    data: {}
  # -- Defines additional mounts with secrets.
  # Secrets must be manually created in the namespace or with kustomizecontroller.secret
  extraSecretMounts: []
    # - name: secret-files
    #   mountPath: /etc/secrets
    #   subPath: ""
    #   secretName: secret-files
    #   readOnly: true
  nodeSelector: {}
  affinity: {}
  tolerations: []
  # -- Defines envFrom using a configmap and/or secret.
  envFrom:
    map:
      name: ""
    secret:
      name: ""

notificationcontroller:
  create: true
  image: ghcr.io/fluxcd/notification-controller
  tag: v0.19.0
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 64Mi
  annotations:
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"
  labels: {}
  serviceaccount:
    create: true
    annotations: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []

sourcecontroller:
  create: true
  image: ghcr.io/fluxcd/source-controller
  tag: v0.19.0
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 64Mi
  annotations:
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"
  labels: {}
  serviceaccount:
    create: true
    annotations: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []

policies:
  create: true

rbac:
  create: true
