{{- if and .Values.notificationcontroller.create }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: {{ .Release.Namespace | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote  }}
    app.kubernetes.io/part-of: flux
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    control-plane: controller
  name: notification-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-controller
  template:
    metadata:
      {{- with .Values.notificationcontroller.annotations }}
      annotations: {{ toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: notification-controller
{{ with .Values.notificationcontroller.labels }}{{ toYaml . | indent 8 }}{{ end }}
    spec:
      {{- if .Values.notificationcontroller.initContainers}}
      initContainers:
        {{- toYaml .Values.notificationcontroller.initContainers | nindent 8}}
      {{- end}}
      containers:
      - args:
        - --watch-all-namespaces={{ .Values.watchallnamespaces }}
        - --log-level=info
        - --log-encoding=json
        - --enable-leader-election
        env:
        - name: RUNTIME_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: {{ template "template.image" .Values.notificationcontroller }}
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /healthz
            port: healthz
        name: manager
        ports:
        - containerPort: 9090
          name: http
        - containerPort: 9292
          name: http-webhook
        - containerPort: 8080
          name: http-prom
        - containerPort: 9440
          name: healthz
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: healthz
        {{- with .Values.notificationcontroller.resources }}
        resources: {{ toYaml . | nindent 10 }}
        {{- end }}
        {{- if .Values.helmcontroller.securityContext }}
        securityContext: {{ toYaml .Values.helmcontroller.securityContext | nindent 10 }}
        {{- else }}
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
        {{- end}}
        volumeMounts:
        - mountPath: /tmp
          name: temp
        {{- if .Values.notificationcontroller.volumeMounts }}
        {{- toYaml .Values.notificationcontroller.volumeMounts | nindent 8 }}
        {{- end}}
      serviceAccountName: notification-controller
      terminationGracePeriodSeconds: 10
      volumes:
      - emptyDir: {}
        name: temp
      {{- if .Values.notificationcontroller.volumes }}
      {{- toYaml .Values.notificationcontroller.volumes | nindent 6 }}
      {{- end}}
      {{- with .Values.notificationcontroller.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.notificationcontroller.affinity }}
      affinity: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.notificationcontroller.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
